@import url('../css/import_fonts.css');

body {
  padding: 0;
  margin: 0;

  background-color: #262626;
}

html {
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
}

.start {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
}

.header-main {
  position: fixed;
  width: 100%;
  height: auto;
  max-height: 89.28px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #262626;
  z-index: 999;
  
}

.wrapper-header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper-header > .containe-bht-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper-header > .containe-bht-navigation > a {
  padding: 15px 45px 15px 45px;
  background-color: #EECC1C;
  border-radius: 10px;

  font-family: 'Montserrat';
  font-weight: bold;
  color: black;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.5s ease-in-out;
}

.wrapper-header > .logo {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 12px 0px 12px 0px;
}

.wrapper-header > .logo > .circle {
  width: 40px;
  height: 40px;
  background-color: #FFF;
  border-radius: 100%;
}

.wrapper-header > .logo > h1 {
  font-family: 'Montserrat';
  color: #FFF;
}

.start-main {
  position: relative;
  width: 100%;
  max-width: 2000px;
  min-height: calc(100vh - 89.28px);
  max-height: 1000px;

  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;

  left: 50%;
  transform: translateX(-50%);
}

.wrapper-main {
  width: 90%;
  height: 90%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper-main > .content-block {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-evenly;
}

.wrapper-main > .content-block > .card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.wrapper-main > .content-block > .card > .text-container {
  font-size: 1.4em;
  font-family: 'Montserrat';
  text-align: center;
  color: #FFF;
}

.wrapper-main > .content-block > .card > .text-container > span,
.wrapper-main > .content-block > .card > .text-container > h1 {
  padding-bottom: 0;
  margin-bottom: 8px;
  letter-spacing: 2px;
}

.wrapper-main > .content-block > .card > .text-container > .button-container {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 15px;
}

.wrapper-main > .content-block > .card > .text-container > .button-container > a {
  padding: 15px 45px 15px 45px;
  background-color: #EECC1C;
  border-radius: 50px;

  font-family: 'Montserrat';
  font-weight: bold;
  text-decoration: none;
  color: black;

  transition: all 0.2s ease-in-out;
}
.wrapper-header > .containe-bht-navigation > a:hover,
.wrapper-main > .content-block > .card > .text-container > .button-container > a:hover {
  background-color: #fddd3f;
}

.wrapper-main > .content-block > .card > .image-container {
  width: auto;
  height: auto;
  max-width: 450px;
  max-height: 450px;
  min-width: 100px;
  min-height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.wrapper-main > .content-block > .card > .image-container > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 100%;
}

.content-main {
  position: relative;
  width: 100%;
  max-width: 2000px;
  height: auto;
  padding: 20px 0px 20px 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  left: 50%;
  transform: translateX(-50%);
}

.content-main > .wrapper-main > .about-studio-content {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-main > .wrapper-main > .about-studio-content > .title {
  font-family: 'Montserrat';
  font-weight: bold;
  color: #FFF;

  padding: 15px 70px 15px 70px;
  background-color: #212121;
  border-radius: 15px;

  font-size: 1.7em;
  
}

.container-card-info {
  position: relative;
  width: auto;
  height: auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 15px;
  margin-top: 25px;
}

.container-card-info > .card {
  max-width: 350px;
  max-height: 500px;

  margin: 20px;
  padding: 15px;
  background-color: #212121;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  text-align: center;

  font-family: 'Montserrat';
  font-size: 1.1em;
  letter-spacing: 1px;
  line-height: 1.5;
  color: #FFF;
  transition: all 0.15s ease-in-out;
}

.container-card-info > .card:hover {
  box-shadow: 0px 0px 12px 11px rgba(0, 0, 0, 0.2);
}

.container-card-info > .card > .title > h1 {
  margin-top: 10px;
  margin-bottom: 0px;
}
.container-card-info > .card > .description {
  text-wrap: balance;
}

.container-card-info > .card > .button-url-container {
  margin-top: 30px;
  margin-bottom: 30px;
}



.container-card-info > .card > .button-url-container > a {
  padding: 20px 50px 20px 50px;
  background-color: #fddd3f;
  font-family: 'Montserrat';
  font-weight: bold;
  text-decoration: none;
  color: black;
  border: none;
  border-radius: 15px;

}

.font-app {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.app {
  position: fixed;
  max-width: 400px;
  width: 90%;
  height: 100%;
  max-height: 500px;
  background-color: #212020;
  border-radius: 10px;
  display: none; /* Скрываем изначально */
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.font-app.active {
  z-index: 1;
  
}

.font-app.noactive {
  z-index: 0;
}

.app.active {
  display: flex; 
  z-index: 999;
}

.app.noactive {
  display: none; 
  z-index: 0;
}


.wrapper-app {
  position: relative;
  width: 90%;
  height: 85%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.app > .exit {
  position: relative;
  width: 90%;
  height: 25px;

  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 5px;
}

.app > .exit > .cn-bth-close {
  height: 100%;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.app > .exit > .cn-bth-close > div {
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: rgb(255, 255, 255);

}

.app > .exit > .cn-bth-close > div:nth-child(1) {
  rotate: 45deg;
}

.app > .exit > .cn-bth-close > div:nth-child(2) {
  rotate: -45deg;
}

.app > .wrapper-app > .title {
  font-family: 'Montserrat';
  font-size: 1.5em;
  font-weight: bold;
  color: #FFF;
  margin-bottom: 20px;
}

.app > .wrapper-app > .container_form {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 20px;
}

.app > .wrapper-app > .container_form > .form_ {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  row-gap: 3px;
}

.app > .wrapper-app > .container_form > .form_ > label {
  width: 85%;
  font-family: 'Montserrat';
  color: #FFF;
  text-align: left;
}

.app > .wrapper-app > .container_form > .form_ > input {
  width: 85%;
  min-height: 60px;
  border: none;
  background-color: #353535;
  border-radius: 5px;

  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 0.9em;
  letter-spacing: 1px;
  padding-left: 5px;
  color: #FFF;
}

.app > .wrapper-app > .container_form > .form_ > input:focus {
  outline: none;
}

.app > .wrapper-app > .container_form > .form_ > button {
  padding: 12px 70px 12px 70px;
  border-radius: 5px;
  border: none;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 1px;
  background-color: #EECC1C;
  margin: 20px 20px 0px 20px;

}

.app > .wrapper-app > .pol > p {
  margin: 0;
  font-family: 'Montserrat';
  font-weight: 480;
  font-size: 0.85em;
  line-height: 1.5;
  color: #686868;
  text-align: center;
}

.app > .wrapper-app > .pol > p > a {
  text-decoration: none;
  font-weight: bold;
  color: #686868;
}